* {
    font-family: JetBrains Mono, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-weight: bolder;
    font-size: 15px;
}

window#waybar {
    background-color: transparent;
    border-bottom: transparent;
    color: #ebdbb2;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px #7c6f64;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ebdbb2;
}

#workspaces button {
    padding: 0 5px;
    background-color: #282828;
    color: #7c6f64;
}

#workspaces button:hover {
    background: #32302f;
    color: #a89984;
    box-shadow: inset 0 -3px #a89984;
}

#workspaces button.active {
    color: #ebdbb2;
    background-color: #504945;
    box-shadow: inset 0 -3px #ebdbb2;
}

#workspaces button.urgent {
    background-color: #fb4934;
}

#clock,
#network,
#cpu,
#memory,
#temperature,
#pulseaudio.sink,
#pulseaudio.source,
#custom-media,
#tray {
    background-color: #282828;
    padding: 0 10px;
    color: #ebdbb2;
    border-bottom: 3px solid #7c6f64;
}

#network,
#cpu,
#memory,
#temperature,
#pulseaudio.sink,
#pulseaudio.source {
    border-bottom: 3px solid #689d6a;
}

#cpu,
#memory,
#temperature,
#pulseaudio.sink,
#pulseaudio.source {
    min-width: 65px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    border-bottom: 3px solid #7c6f64;
}

#pulseaudio.sink.muted,
#pulseaudio.source.source-muted {
    color: #7c6f64;
    border-bottom: 3px solid #7c6f64;
}

#custom-media {
    background-color: #8ec07c;
    color: #282828;
    border-bottom: 3px solid #689d6a;
    border-right: 3px solid #689d6a;
}

#cpu.warning,
#memory.warning {
    border-bottom: 3px solid #fabd2f;
}

#cpu.critical,
#memory.critical {
    border-bottom: 3px solid #fb4934;
}

#temperature.critical {
    background-color: #fb4934;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #fb4934;
}
